<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="white-background">
    <table>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <h1>User Registration</h1>
    <form method="post" action="{{ url_for('register') }}">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <label for="username">Username:</label>
        {{ form.username() }}
        <br>
        <label for="password">Password:</label>
        {{ form.password() }}
        <br>
        <button type="submit">Register</button>
    </form>
    </table>
    </div>
</body>
</html>
